.container {
  margin: 0 auto;
  width: 640px;
}

.controls {
  margin-top: 20px;
}

button {
  background-color: #eee;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 10px;
  outline: 0;
  padding: 6px 12px;
}

label {
  cursor: pointer;
}
